{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
 
        <div class="col-md-6">
            <h2 style="color: black;">Welcome to Eco Craft Employee Management</h2>
            <p style="color: black;">
                Our Employee Management System provides amazing features for managing our employees. If you don't have an staff account yet,
                <a href="{% url 'employee:signup' %}" style="color: #88a376;">Sign up here</a>.
            </p>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    {% if error_message %}
                        <p class="alert alert-danger">
                            <strong>{{ error_message }}</strong>
                        </p>
                    {% endif %}

                    <div class="text-center">
                        <h2 style="color: black;">Login Form</h2>
                    </div>

                    <form action="{% url 'employee:process' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label style="color: black;">Username</label>
                            <input type="text" name="username" id="username" class="form-control" placeholder="Enter Username" autocomplete="off" required>
                            <label style="color: black;">Password</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password" required>
                        </div>
                        <button type="submit" class="btn mt-2" style="background-color:#88a78e; color: white;">Login</button>
                    </form>

                    <p class="mt-3" style="color: black;">
                        Don't have an account? <a href="{% url 'employee:signup' %}" style="color: #88a376;">Sign up here</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
