{% extends 'base.html' %}

{% block title %}
    Sign Up
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-auto">
                    <div class="card-body">
                        <div class="text-center">
                            <h2  style="color: black;">Sign Up Form</h2>
                        </div>
                        <form method="post" action="{% url 'employee:signup' %}">
                            {% csrf_token %}

                            <!-- Display email field -->
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}" style="color: black;">Email</label>
                                <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" placeholder="Enter your email" required>
                            </div>

                            <!-- Display username field -->
                            <div class="form-group">
                                <label for="{{ form.username.id_for_label }}"  style="color: black;">Username</label>
                                <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" placeholder="Enter your username" required>
                            </div>

                            <!-- Display password fields -->
                            <div class="form-group">
                                <label for="{{ form.password1.id_for_label }}"  style="color: black;">Password</label>
                                <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="{{ form.password1.name }}" placeholder="Enter your password" required>
                            </div>

                            <div class="form-group">
                                <label for="{{ form.password2.id_for_label }}"  style="color: black;">Confirm Password</label>
                                <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="{{ form.password2.name }}" placeholder="Confirm your password" required>
                            </div>

                            <!-- Add any other fields you want to display -->

                            <button type="submit" class="btn mt-2" style="background-color:#88a78e; color: white;">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
